.NavbarItems{
    width: auto;
    height: auto;
    background-color: black;
    color: white;
    /* border: 2px solid rgb(250, 238, 131); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navbar-h1{
    /* border: 2px solid rgb(241, 67, 67); */
    font-size: 30px;
    margin-left: 15px;
    text-align: center;
}

.nav-menu{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: white;
    margin: 10px 50px;
    /* border: 2px solid white; */
    align-items: center;
}

#nav-menu-item{
    display: inline-block;
    /* position: absolute; */
    padding: 5px;
    margin: 10px 5px;
    font-size: 24px;
    text-decoration: none;
    top: 50%;
    left: 50%;
    transform: translate(0);
    text-align: center;
}

.nav-links{
    position: relative;
    display: block;
    color: white;
    font-family: "montserrat";
    text-decoration: none;
    margin: 5px 0px;
    /* border: 2px solid white; */
    padding: 0px 30px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}
.nav-links::before{
    background: white;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}
.nav-links:hover::before{
    width: 100%;
}
.nav-links:hover{
    color: black;
}
.nav-links::before{
    width: 0%;
    height: 100%;
}
